@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0037)http://daneden.github.io/animate.css/ -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>CapQueen</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, minimal-ui">
    <link rel="dns-prefetch" href="http://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="http://code.jquery.com/">
    <link href="@Url.Content("welcome.css")" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://daneden.github.io/animate.css/animate.min.css">
    <link rel="stylesheet" href="http://daneden.github.io/animate.css/style.css">
</head>
<body>
    <header class="site__header island">
        <div class="wrap">
            <span id="animationSandbox" style="display: block;" class=""><h1 class="site__title mega">CapQueen Coming Soon...</h1></span>
            <span class="beta subhead" style="padding-left: 200px;font-size: 10px;">--- <a href="http://www.cnblogs.com/capqueen/">SunGan's Blog</a> @@ Shanghai</span>
        </div>
    </header><!-- /.site__header -->
    <main class="site__content island" role="content">
        <div class="wrap">
            <hr>
            <p class="meta">友情链接：<a href="http://aehyok.com/">aehyok</a> | <a href="http://970369.com/">970369</a> | <a href="http://www.vipout.xyz/">唯爱品傲</a> | <a href="http://www.pengbg.com/" class="last">teemo</a></p>
            <p><small>About CapQUeen <a href="http://www.cnblogs.com/capqueen/">CapQueen</a>.</small></p>
        </div>
    </main><!-- /.site__content -->
    <script src="./Animate.css_files/jquery-1.10.2.min.js"></script>
    <script>
        function testAnim(x) {
            $('#animationSandbox').removeClass().addClass(x + ' animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                $(this).removeClass();
            });
        };
        function GetRandomNum(Min, Max) {
            var Range = Max - Min;
            var Rand = Math.random();
            return (Min + Math.round(Rand * Range));
        }
        $(document).ready(function () {
            $('.js--triggerAnimation').click(function (e) {
                e.preventDefault();
                var anim = $('.js--animations').val();
                testAnim(anim);
            });

            $('.js--animations').change(function () {
                var anim = $(this).val();
                testAnim(anim);
            });
            $('.wrap').click(function() {
                var anim = new Array('bounce', 'flash', 'pulse', 'rubberBand', 'shake', 'swing', 'tada', 'wobble', 'bounceIn', 'bounceInDown', 'bounceInLeft', 'bounceInRight', 'bounceInUp', 'bounceOut', 'bounceOutDown', 'bounceOutLeft', 'bounceOutRight', 'bounceOutUp', 'fadeIn', 'fadeInDown', 'fadeInDownBig', 'fadeInLeft', 'fadeInLeftBig', 'fadeInRight', 'fadeInRightBig', 'fadeInUp', 'fadeInUpBig', 'fadeOut', 'fadeOutDown', 'fadeOutDownBig', 'fadeOutLeft', 'fadeOutLeftBig', 'fadeOutRight', 'fadeOutRightBig', 'fadeOutUp', 'fadeOutUpBig', 'flip', 'flipInX', 'flipInY', 'flipOutX', 'flipOutY', 'lightSpeedIn', 'lightSpeedOut', 'rotateIn', 'rotateInDownLeft', 'rotateInDownRight', 'rotateInUpLeft', 'rotateInUpRight', 'rotateOut', 'rotateOutDownLeft', 'rotateOutDownRight', 'rotateOutUpLeft', 'rotateOutUpRight', 'hinge', 'rollIn', 'rollOut', 'zoomIn', 'zoomInDown', 'zoomInLeft', 'zoomInRight', 'zoomInUp', 'zoomOut', 'zoomOutDown', 'zoomOutLeft', 'zoomOutRight', 'zoomOutUp');
                var index = GetRandomNum(0, 65);
                testAnim(anim[index]);
            });
        });

    </script>
</body>
</html>